<h2 mat-dialog-title>New script</h2>
<form [formGroup]="newScriptForm" autocomplete="off" (ngSubmit)="submitForm(newScriptForm.value)">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Script</mat-label>
      <textarea matInput formControlName="scriptBody">
  </textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="primary" type="Start" [disabled]="!newScriptForm.valid"><strong>SUBMIT</strong></button>
  </mat-dialog-actions>
</form>