<div class="table-div" *ngIf="alert">
  <mat-card>
    <mat-card-title>{{alert.name}}</mat-card-title>
  </mat-card>
  <br>
  <mat-card>
    <mat-tab-group [@.disabled]="true">
      <mat-tab label="Details">
        <h4>Machine Name</h4>
        <p>{{alert.machine.name}}</p>
        <h4>Priority</h4>
        <p>{{alert.priority}}</p>
        <h4>Date Raised</h4>
        <p>{{alert.createdAt | date:'medium'}}</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <br>
  <button mat-stroked-button (click)="delete()" color="primary"><strong>DELETE</strong></button>