<div class="table-div" *ngIf="machine">
  <mat-card>
    <mat-card-title>{{machine.name}}</mat-card-title>
  </mat-card>
  <br>
  <mat-card>
    <mat-tab-group [@.disabled]="true" (selectedTabChange)="tabClick($event)">
      <mat-tab label="Details">
        <div class="table-container">
          <h4>Operating System</h4>
          <p>{{machine.operatingSystem}}</p>

          <!-- <h4>IP Address</h4>
                <p>{{machine.ipAddress}}</p>
                <h4>Public IP</h4>
                <p>{{machine.publicIp}}</p> -->

          <h4>Make</h4>
          <p>{{machine.make}}</p>
          <h4>Model</h4>
          <p>{{machine.model}}</p>

          <h4>Serial Number</h4>
          <p>{{machine.serialNumber}}</p>
          <h4>Architecture</h4>
          <p>{{machine.architecture}}</p>

          <h4>Domain</h4>
          <p>{{machine.domain}}</p>
          <h4>Date Added</h4>
          <p>{{machine.dateAdded | date:'medium'}}</p>

          <h4>Status</h4>
          <p>{{machine.status}}</p>
          <h4>Last Contact</h4>
          <p>{{machine.lastContact | date:'medium'}}</p>



        </div>
      </mat-tab>
      <mat-tab label="Applications">
        <div class="table-container">
          <table mat-table [dataSource]="applications">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="version">
              <th mat-header-cell *matHeaderCellDef> Version </th>
              <td mat-cell *matCellDef="let element"> {{element.version}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="applicationDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: applicationDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Processes">
        <div class="table-container">
          <table mat-table [dataSource]="processes">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="pId">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.pId}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="processDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: processDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Services">
        <div class="table-container">
          <table mat-table [dataSource]="services">
            <ng-container matColumnDef="displayName">
              <th mat-header-cell *matHeaderCellDef> Display Name </th>
              <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="serviceDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: serviceDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Drives">
        <div class="table-container">
          <table mat-table [dataSource]="drives">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="usedGb">
              <th mat-header-cell *matHeaderCellDef> Used GB </th>
              <td mat-cell *matCellDef="let element"> {{element.usedGb}} </td>
            </ng-container>
            <ng-container matColumnDef="freeGb">
              <th mat-header-cell *matHeaderCellDef> Free GB </th>
              <td mat-cell *matCellDef="let element"> {{element.freeGb}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="driveDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: driveDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Groups">
        <div class="table-container" *ngIf="groups">
          <table mat-table [dataSource]="groups">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/main/groups', element._id ]"
                  class="text-dark">{{element.name}}</a> </td>

            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element"> <button mat-stroked-button
                  (click)="removeGroup(element)">REMOVE</button> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="groupDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: groupDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Alerts">
        <div class="table-container" *ngIf="alerts">
          <table mat-table [dataSource]="alerts">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/main/alerts', element._id ]"
                  class="text-dark">{{element.name}}</a> </td>

            </ng-container>
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> Priority </th>
              <td mat-cell *matCellDef="let element"> {{element.priority}} </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="alertDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: alertDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Alert Policies">
        <div class="table-container" *ngIf="alertPolicies">
          <table mat-table [dataSource]="alertPolicies">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/main/alertpolicies', element._id ]"
                  class="text-dark">{{element.name}}</a> </td>

            </ng-container>
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> Priority </th>
              <td mat-cell *matCellDef="let element"> {{element.priority}} </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="alertDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: alertDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Jobs">
        <div class="table-container" *ngIf="jobs">
          <table mat-table [dataSource]="jobs">
            <ng-container matColumnDef="script.name">
              <th mat-header-cell *matHeaderCellDef> Script Name </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/main/alertpolicies', element._id ]"
                  class="text-dark">{{element.script.name}}</a> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="jobDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: jobDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <br>
  <button mat-stroked-button color="primary" (click)="runJob()"><strong>RUN JOB</strong></button>
  <button mat-stroked-button (click)="addToGroup()" color="primary"><strong>ADD TO GROUP</strong></button>
  <button mat-stroked-button color="primary" (click)="newAlertPolicy()"><strong>NEW ALERT POLICY</strong></button>
  <button mat-stroked-button (click)="startMaintenance()" *ngIf="machine.status!=='Maintenance'"
    color="primary"><strong>START MAINTENANCE</strong></button>

  <button mat-stroked-button (click)="stopMaintenance()" color="primary"
    *ngIf="machine.status=='Maintenance'"><strong>STOP MAINTENANCE</strong></button>
  <button mat-stroked-button (click)="deleteMachine()" color="primary"><strong>DELETE</strong></button>

</div>