<h2 mat-dialog-title>New Alert Policy</h2>
<form [formGroup]="newAlertPolicyForm" autocomplete="off" class="example-form" (ngSubmit)="submitForm(newAlertPolicyForm.value)">
  <mat-dialog-content>

      <mat-form-field appearance="outline">
          <mat-label>Assignment Type</mat-label>
          <mat-select formControlName="assignmentType">
              <mat-option *ngFor="let assignmentType of assignmentTypes" [value]="assignmentType.value">{{assignmentType.viewValue}}</mat-option>
           </mat-select>
        </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="newAlertPolicyForm.value.assignmentType == 'Machine'">
        <mat-label>Machine</mat-label>
        <mat-select formControlName="assignedTo">
            <mat-option *ngFor="let machine of machines" [value]="machine._id">{{ machine.name }}</mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="newAlertPolicyForm.value.assignmentType == 'Group'">
          <mat-label>Group</mat-label>
          <mat-select formControlName="assignedTo">
              <mat-option *ngFor="let group of groups" [value]="group._id">{{ group.name }}</mat-option>
           </mat-select>
        </mat-form-field>
  
      <mat-form-field appearance="outline">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority">
              <mat-option *ngFor="let priority of priorites" [value]="priority.value">{{priority.viewValue}}</mat-option>
           </mat-select>
        </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Policy Type</mat-label>
          <mat-select formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</mat-option>
           </mat-select>
        </mat-form-field>

        <!-- if drive -->
        <mat-form-field appearance="outline" *ngIf="newAlertPolicyForm.value.type == 'Drive'">
            <mat-label>Drive</mat-label>
            <mat-select formControlName="item">
                <mat-option *ngFor="let drive of drives" [value]="drive.value">{{drive.viewValue}}</mat-option>
             </mat-select>
          </mat-form-field>

        <!-- if drive -->
        <mat-form-field appearance="outline" *ngIf="newAlertPolicyForm.value.type == 'Drive'">
            <mat-label>Alert when free space below (GB)</mat-label>
            <input matInput formControlName="threshold">
          </mat-form-field>

          <!-- if service -->
          <mat-form-field appearance="outline" *ngIf="newAlertPolicyForm.value.type == 'Service'">
              <mat-label>Service Name</mat-label>
              <input matInput formControlName="item">
            </mat-form-field>

            <!-- if process -->
            <mat-form-field appearance="outline" *ngIf="newAlertPolicyForm.value.type == 'Process'">
                <mat-label>Process Name</mat-label>
                <input matInput formControlName="item">
              </mat-form-field>


  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="primary" type="Start" [disabled]="!newAlertPolicyForm.valid"><strong>SUBMIT</strong></button>
  </mat-dialog-actions>
</form>