<h2 mat-dialog-title>Reset password</h2>
<form *ngIf="!success && !loading" [formGroup]="resetPasswordForm" autocomplete="off" class="example-form"
    (ngSubmit)="submitForm(resetPasswordForm.value)">
    <mat-dialog-content>

        <mat-form-field style="display: block" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-stroked-button color="primary" type="Start"
            [disabled]="!resetPasswordForm.valid"><strong>SUBMIT</strong></button>


    </mat-dialog-actions>
</form>
<div *ngIf="success">

        <mat-dialog-content >
                <p>Email sent</p>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-stroked-button color="primary" (click)="closeDialog()"><strong>CLOSE</strong></button>
            </mat-dialog-actions>

</div>

<mat-spinner *ngIf="loading"></mat-spinner>
