<div class="table-div" *ngIf="job">
  <mat-card>
    <mat-card-title>Deploy {{job.script.name}} to {{ job.machine.name }}</mat-card-title>
  </mat-card>
  <br>
  <mat-card>
    <mat-tab-group [@.disabled]="true">
      <mat-tab label="Details">
        <h4>Date Added</h4>
        <p>{{job.dateAdded | date:'medium'}}</p>

      <div *ngIf="job.finishDate">
          <h4>Finish Date</h4>
          <p>{{job.finishDate | date:'medium'}}</p>
      </div>

        <h4>Status</h4>
        <p>{{job.status}}</p>

      <div *ngIf="job.output">
        <h4>Output</h4>
        <p style="white-space:pre-wrap; word-wrap:break-word">{{job.output}}</p>
      </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <br>

  <button mat-stroked-button (click)="delete()" color="primary"><strong>DELETE</strong></button>