<div class="table-div" *ngIf="machines">
    <div class="customFlexContainerNoSpace">
        <div>
          <mat-form-field>
            <input matInput type='text' placeholder="Search" (keyup)='updateFilter($event)'>
          </mat-form-field>
    
        </div>
        <div class="customFlexContainer flexGrow3">
          <div>
          </div>
          <div>
            <button class="goRight" mat-stroked-button *ngIf="selected.length > 0" (click)="delete()"
              color="primary"><strong>DELETE</strong></button>
          </div>
        </div>
      </div>
    <ngx-datatable *ngIf="tData" #table class="material fullscren" [headerHeight]="50" [columnMode]="'force'"
      [rowHeight]="'auto'" [footerHeight]="50" [count]="true" [limit]="10" [rows]="machines" [selected]="selected"
      [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)'>
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" prop="name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <a [routerLink]="['/main/machines', row._id ]" class="text-dark">{{row.name}}</a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Operating System" prop="operatingSystem">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.operatingSystem}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
</div>